@model BankForm.Models.BankAccount
@{
    ViewBag.Title = "Index";
}

<h2>Information Form</h2>
<div class="container">
    @using (Html.BeginForm("Save", "Form", FormMethod.Post))
    {
    <div class="form-group">
        <label>BSB</label>
        @Html.TextBoxFor(model => model.BSB, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.BSB)
    </div>
    <div class="form-group">
        <label>Account Number</label>
        @Html.TextBoxFor(model => model.AccountNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AccountNumber)
    </div>
    <div class="form-group">
        <label>Account Name</label>
        @Html.TextBoxFor(model => model.AccountName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AccountName)
    </div>
    <div class="form-group">
        <label>Reference</label>
        @Html.TextBoxFor(model => model.Reference, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Reference)
    </div>
        <button type="submit" class="btn btn-default">Submit</button>
    }
</div>
